#nav-login {
    float: right;
}

#container-top {
    width: 100%;
    height: 56px;
    position: relative;
    z-index: 10;
}

    #container-top.transparent {
        position: absolute;
        padding: 30px 10px 0px 40px;
    }

    #container-top ul, #container-top ul li {
        list-style: none;
    }

    #container-top #nav-login ul li {
        float: left;
        border-radius: 8px;
        height: 45px;
        line-height: 45px;
        margin-right: 20px;
        color: #fff;
    }

.btn-outline-secondary {
    color: white;
}

#container-header {
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-content {
    padding-top: 180px;
}

.header-container {
    max-width: 100%;
}

.page-content {
    margin-top: 60px;
}

.home-counter {
    font-size: 40px;
}

.container-tabuleiro{
    margin-top: -95px;
}

.player-card {
    background: none;
    border: 1px solid #c53336;
    border-radius: 10px;
    height: 100%;
    padding: 30px;
}

.white {
    color: #fff;
}

.left-card {
    margin-left: 50px;
}

.right-card {
    margin-right: 50px;
}

.container-card{
    height: 100%;
}


@media (min-width: 1366px) {
    .container-tabuleiro {
        margin-top: -100px;
    }
}