<div class="container-fluid header-content">
    <h1 class="text-center text-white">Nome do Jogo</h1>
    <div class="container">
        <div class="row" style="margin-top: 60px;">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card-deck">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <p class="card-text">Alguma coisa aqui</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card-deck">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <p class="card-text">Alguma coisa aqui</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="card-deck">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <p class="card-text">Alguma coisa aqui</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>